<div class="main bg-white">
  <div class="main-text">
    <h1 class="text-center">GAME CHANGER</h1>
    <p class="text-center mb-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim,
    </p>
  </div>
  <div class="main-margin">
    <div class="main-content container ">
      <div class="row">
        <div class="main-large-img col-sm-12 col-md-7">
          <img
            class="main-large-img"
            src="../../assets/imagesMain/עוז-לוי_תמונות-לדף-הבית.png"
            alt=""
          />
          <div class="main-header-content">
            <h1>
              DIGITAL<br />
              TRANSFORMATION
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores,
            </p>
            <button class="border">READ MORE</button>
          </div>
        </div>
        <div class="main-small-img col-sm-12 col-md-5">
          <img
            class="main-small-img"
            src="../../assets/imagesMain/AR.png"
            alt=""
          />
          <div class="main-header-content">
            <h1>SECURITY<BR />& CYBER</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores, ut tempora.
            </p>
            <button class="border">READ MORE</button>
          </div>
        </div>
        <div class=" col-sm-12 col-md-5">
          <img
            class="main-small-img"
            src="../../assets/imagesMain/GAME-CHANGERS-03.jpg"
            alt=""
          />
          <div class="main-header-content">
            <h1>SMART<BR />WORLD</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores,
            </p>
            <button class="border">READ MORE</button>
          </div>
        </div>
        <div class=" col-sm-12 col-md-7">
          <img
            class="main-large-img"
            src="../../assets/imagesMain/MATRIX_WEBSITE_Liron-brimer1.jpg"
            alt=""
          />
          <div class="main-header-content">
            <h1>CLOUD</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores, ut tempora. Dolor voluptate
            </p>
            <button class="border">READ MORE</button>
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <img
            class="main-large-img"
            src="../../assets/imagesMain/רמי-גור_תמונות-לדף-הבית.png"
            alt=""
          />
          <div class="main-header-content">
            <h1>GAME CHANGERS</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores, ut tempora. Dolor voluptate
            </p>
            <button class="border">READ MORE</button>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <img
            class="main-small-img"
            src="../../assets/imagesMain/GAME-CHANGERS-01.jpg"
            alt=""
          />
          <div class="main-header-content">
            <h1>DATA</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores, ut tempora. Dolor voluptate
            </p>
            <button >READ MORE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h1 class="text-center font-weight-light">EVERY INDUSTRY EVERY SERVICE</h1>
  </div>
</div>
