<div class="main bg-white">
  <div class="main-text">
    <h1 class="text-center">GAME CHANGER</h1>
    <p class="text-center mb-5 ml-3 mr-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim,
    </p>
  </div>
  <div class="main-margin">
    <div class="main-content container ">
      <div class="row">
        <div
          [ngStyle]="{
            'background-image':
              'url(../../assets/imagesMain/עוז-לוי_תמונות-לדף-הבית.png)'
          }"
          class="main-large-img col-sm-12 col-lg-7 order-lg-1"
        >
          <div class="main-header-content">
            <h1>
              DIGITAL<br />
              TRANSFORMATION
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores,
            </p>
          </div>
              <div>
                <button class="border btn btn-light float-right">READ MORE</button>
              </div>
        </div>
        <div
          [ngStyle]="{
            'background-image': 'url(../../assets/imagesMain/AR.png)'
          }"
          class="main-small-img col-sm-12 col-lg-5 order-lg-2"
        >
          <div class="main-header-content">
            <h1>SECURITY<BR />& CYBER</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores, ut tempora.
            </p>
          </div>
              <div>
                <button class="border btn text-white  float-right">READ MORE</button>
              </div>
        </div>
        <div
          [ngStyle]="{
            'background-image':
              'url(../../assets/imagesMain/GAME-CHANGERS-03.jpg)'
          }"
          class="main-small-img order-4  col-sm-12  col-lg-5 order-lg-3"
        >
          <div class="main-header-content">
            <h1>SMART<BR />WORLD</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores,
            </p>
          </div>
              <div>
                <button class="border btn text-white  float-right">READ MORE</button>
              </div>
        </div>
        <div
          [ngStyle]="{
            'background-image':
              'url(../../assets/imagesMain/MATRIX_WEBSITE_Liron-brimer1.jpg)'
          }"
          class="main-large-img order-3  col-sm-12  col-lg-7 order-lg-4"
        >
          <div class="main-header-content">
            <h1>CLOUD</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores, ut tempora. Dolor voluptate
            </p>
          </div>
          <div>
            <button class="border btn btn-light float-right">READ MORE</button>
          </div>
        </div>
        <div
          [ngStyle]="{
            'background-image':
              'url(../../assets/imagesMain/רמי-גור_תמונות-לדף-הבית.png)'
          }"
          class="main-large-img col-sm-12 col-lg-7 order-lg-5"
        >
          <div class="main-header-content">
            <h1>GAME CHANGERS</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores, ut tempora. Dolor voluptate
            </p>
          </div>
          <div>
            <button class="border btn btn-light float-right">READ MORE</button>
          </div>
        </div>
        <div
          [ngStyle]="{
            'background-image':
              'url(../../assets/imagesMain/GAME-CHANGERS-01.jpg)'
          }"
          class="main-small-img col-sm-12 col-lg-5 order-lg-6"
        >
          <div class="main-header-content">
            <h1>DATA</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores, ut tempora. Dolor voluptate
            </p>
          </div>
          <div>
            <button class="border btn text-white  float-right">READ MORE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h1 class="text-center font-weight-light">EVERY INDUSTRY EVERY SERVICE</h1>
  </div>
</div>
