<div class="container-fluid position-fixed  nav-container mb-5">
  <nav class=" navbar navbar-expand-lg  navbar-light ">
    <a class="navbar-brand nav-margin-logo" href="#"
      ><img src="../../assets/images/logo-matrix-new.png" alt="" width="100px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav-collapse-bg collapse navbar-collapse bg-white" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link ml-5 nav-collapse-bg" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Game Changers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">DATA</a>
            <a class="dropdown-item" href="#">CLOUD</a>
            <a class="dropdown-item" href="#">DIGITAL TRANSFOMATION</a>
            <a class="dropdown-item" href="#">SECURITY AND CYBER</a>
            <a class="dropdown-item" href="#">SMART WORLD</a>
            <a class="dropdown-item" href="#">STARTPRISE</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            News & Event
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">NEWS</a>
            <a class="dropdown-item" href="#">EVENT</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Sectors
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">HEALTH</a>
            <a class="dropdown-item" href="#">PUBLIC</a>
            <a class="dropdown-item" href="#">HIGH TECH & TELECOM</a>
            <a class="dropdown-item" href="#">RETIAL</a>
            <a class="dropdown-item" href="#">FINANCE</a>
            <a class="dropdown-item" href="#">DEFENSE</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Our Business
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Career</a>
        </li>
        <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">MANGEMENT</a>
              <a class="dropdown-item" href="#">PARTNERS</a>
              <a class="dropdown-item" href="#">SUBSIDIARIES</a>
              <a class="dropdown-item" href="#">INVESTOR RELATIONS</a>
            </div>

          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
      </ul>
    </div>
  </nav>
</div>
